body{
    background:linear-gradient(30deg, rgb(77,77,77), rgb(58,58,58));
    color: rgb(68,68,68);
}

ul{
    margin:0;
    padding:0;
}

li{
    margin:0;
}

header{
    position:static;
}

header ul a{
    color: rgb(180, 230, 235);
}

header ul a:hover{
    background-color: rgb(183,230,235);
    color : rgb(59,59,59);
}

#page-logo a{
    color: rgb(180, 230, 235);
}

#cards{
    width:1200px;
    margin:0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}

.card{
    display: flex;
    height: 320px;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden; /* <-> visible*/
}

.card:nth-of-type(3){
    grid-column: 1 / span 2;
    width: 100%;
}

.card img{
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.card h2{
    margin: 0;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:24px;
}

.actions{
    text-align: end;
}

.actions a{
    padding: 6px;
    color: rgb(22, 211, 228);
    border-radius: 6px;
}

.actions a:hover{
    background-color: rgb(235, 253, 255);
}