#carouselExample{
    width: 100%;
    max-width: 50rem;
    height: 30rem;
    margin:0 auto; 
}

#carouselExample img{
    height: 30rem;
    object-fit: cover;
}

#newsletter-singup{
    max-width: 30rem;
    margin: 4rem auto;
}