body{
    margin : 50px;
}

header{
    margin-bottom : 64px;
}

h1{
    font-size: 48px;
    color : rgb(71, 62, 62);
    margin: 0;
}

#description{
    margin: 12px;
}

a{
    display: inline-block;    /*inline, block, inline-block*/
    background-color: rgb(167, 1, 78);
    font-size: 24px;
    color : white;
    padding: 12px;
    margin: 0;
    border-radius: 5px;
}

a:hover{
    background-color: rgb(180, 12, 90);
    text-decoration: none;
}

/*
main p{
    margin : 12px;
    color : rgb(71, 29, 22);
}
*/

.daily-goal{
    margin : 12px 24px;
    color : rgb(71, 29, 22);
}

ol{
    list-style: none;
    width : 500px;
    margin:36px auto 0 auto;
    padding : 0;
}

li{
    margin: 32px;
    padding:10px;
    background-color: rgb(223,136, 124);
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.highlight-goal{
    background-color: rgb(223, 124, 111);
}

h2{
    font-family : Oswald, sans-serif;
    color : rgb(78, 13, 5);
}